html, body {
  min-height: 100vh;
  max-width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}
